<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.noveogroup.googoltoone"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>

    <!--CRDONE use the same screenOrientation property for all activities-->
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="StartupActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RulesActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".GameStartActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".NextActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".EnterQueryActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AnswerTyping"
                  android:screenOrientation="portrait"/>
        <activity android:name=".RoundResultActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".EndGameActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".BestScoresActivity"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
